* {
  box-sizing: border-box;
}

html {
  font-size: #{$root-rem*$zoom}rem;
  height: 100%;
}

body {
  font-family: $body-font, Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  letter-spacing: rem(1px);
  height: 100%;
}

.body-wrapper {
  padding-bottom: 1.875rem;
  min-height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul.no-style-list, .no-style-list {
  padding-left: 0;

  li {
    list-style: none;
  }
} // ul.no-style-list

a {
  text-decoration: none;
  color: color(black);

  &:hover {
    color: color(blue)
  }
}

p {
  line-height: 1.3;
}

button {
  background-color: transparent;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
} // button

.footer-col {
  margin-top: 1em;
}

.banner-content.module h3 a {
  color: #fff;
}
