@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key)
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@function hex-to-rgba($hex, $alpha) {
  $red: red($hex);
  $green: green($hex);
  $blue: blue($hex);

  @return rgba($red, $green, $blue, $alpha);
}

@function rem($amount) {

  @if (type-of($amount) == 'number' && ) {

    @if (unitless($amount)) {
      @return #{$amount/(16*$root-rem)}rem;
    } @else if (unit($amount) == 'px') {
      @return #{($amount/(16*$root-rem))/1px}rem;
    } @else if (unit($amount) == 'pt') {
      @return #{($amount/(12*$root-rem))/1pt}rem;
    }
  }
}