/***************
 * BREAKPOINTS *
 ***************/
@mixin breakpoint($media) {
  @if map-has-key($breakpoints, $media) {
    @media (min-width: map-get($breakpoints, $media)) {
      @content;
    }
  } @else {
    @warn "Unknown `#{$key}` in $breakpoints.";
  }
}

/*****************
 * GRID CREATION *
 *****************/
@mixin col-create($colamount) {
  display: inline-block;
  margin-left: -0.125rem;
  margin-right: -0.125rem;
  padding-left: $gutter-half;
  padding-right: $gutter-half;
  width: percentage($colamount/12);

  .container & {

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  } // .container &

  @each $bp, $size in $breakpoints {

    .container-#{$bp} & {

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    } // .container &
  } // @each $bp, $size in $breakpoints)
} // @mixin col-create($colamount)

@mixin col-offset($colamount) {

  @if ($colamount > 0) {
    margin-left: percentage($colamount/12);
    padding-left: 0;
  } @else {
    margin-left: -0.125rem;
    padding-left: $gutter-half;
  } // end @if
} // @mixin col-offset($colamount)

@mixin row-padding($amount) {

  .container & {
    &:nth-child(1n){
      padding-left: $gutter-half;
      padding-right: $gutter-half;
    }

    &:last-child {
      padding-right: $gutter-half;
    }

    &:nth-child(#{$amount}n+1) {
      padding-left: 0;
    }

    &:nth-child(#{$amount}n) {
      padding-right: 0;
    }
  } // .container &

  @each $bp, $size in $breakpoints {

    .container-#{$bp} & {

      &:nth-child(1n){
        padding-left: $gutter-half;
        padding-right: $gutter-half;
      }

      &:last-child {
        padding-right: $gutter-half;
      }

      &:nth-child(#{$amount}n+1) {
        padding-left: 0;
      }

      &:nth-child(#{$amount}n) {
        padding-right: 0;
      }
    } // .container &
  } // @each $bp, $size in $breakpoints)
} // @mixin row-padding($amount)

/*********************
 * POSITIONING UTILS *
 *********************/

// To position an element centered withing its parent, make sure the parent has a defined width and height, and position relative;
@mixin centerXY($width: 50%, $height: 50%) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: $height;
  width: $width;
}

/****************
 * BORDER ARROW *
 ****************/

@mixin borderArrow($direction: 'down', $color: black, $width: 10px, $height: 7px, $display: 'inline-block') {

  content: '';
  display: $display;
  border: rem($width/2) solid transparent;
  @if ($direction: 'down') {
    border-top: rem($height) solid color($color);
    border-bottom: 0;
  } @else if ($direction: 'right') {
    border-left: rem($height) solid color($color);
    border-right: 0;
  } @else if ($direction: 'up') {
    border-bottom: rem($height) solid color($color);
    border-top: 0;
  } @else if ($direction: 'left') {
    border-right: rem($height) solid color($color);
    border-left: 0;
  }
}

/*******************
 * REPLENISH UTILS *
 *******************/

@mixin replenishTextAlign() {
  &.left-text {
    text-align: left;
  }

  &.center-text {
    text-align: center;
  }

  &.right-text {
    text-align: right;
  }

  &.justify-text {
    text-align: justify;
  }
} // @mixin replenishTextAlign()

@mixin replenishContainer() {
  &.container {
    margin: 0 auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    max-width: $container-max;
  }

  @each $bp, $size in $breakpoints {

    &.container-#{$bp} {
      margin: 0 auto;
      padding-left: $container-padding;
      padding-right: $container-padding;
      max-width: $container-max;
    }
  } // @each $bp, $size in $breakpoints)
} // @mixin replenishContainer()

/*******************
 * VENDOR PREFIXES *
 *******************/

@mixin vendor($property, $value...) {
  -o-#{$property}: $value;
  -ms-#{$property}: $value;
  -moz-#{$property}: $value;
  -webkit-#{$property}: $value;
  #{$property}: $value;
}

@mixin keyframes($animation) {
  
  @-o-keyframes #{$animation} {
    @content;
  }
  
  @-ms-keyframes #{$animation} {
    @content;
  }

  @-moz-keyframes #{$animation} {
    @content;
  }

  @-webkit-keyframes #{$animation}{
    @content;
  }

  @keyframes #{$animation} {
    @content;
  }
}

@mixin placeholder() {

  &:-ms-input-placeholder {
    @content;
  }

  &::-ms-input-placeholder {
    @content;
  }

  &::-ms-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }
}

/****************
 * FONT DYNAMIC *
 ****************/

 @mixin font-variant($variation) {

  @if ($variation == 'thin') {
    font-weight: 100;
    font-style: normal;
  } @else if ($variation == 'thin italic') {
    font-weight: 100;
    font-style: italic;
  } @else if ($variation == 'light') {
    font-weight: 300;
    font-style: normal;
  } @else if ($variation == 'light italic') {
    font-weight: 300;
    font-style: italic;
  } @else if ($variation == 'regular' or $variation == 'book') {
    font-weight: 400;
    font-style: normal;
  } @else if ($variation == 'italic' or $variation == 'book italic') {
    font-weight: 400;
    font-style: italic;
  } @else if ($variation == 'medium') {
    font-weight: 500;
    font-style: normal;
  } @else if ($variation == 'medium italic') {
    font-weight: 500;
    font-style: italic;
  } @else if ($variation == 'semibold') {
    font-weight: 600;
    font-style: normal;
  } @else if ($variation == 'semibold italic') {
    font-weight: 600;
    font-style: italic;
  } @else if ($variation == 'bold') {
    font-weight: 700;
    font-style: normal;
  } @else if ($variation == 'bold italic') {
    font-weight: 700;
    font-style: italic;
  } @else if ($variation == 'heavy') {
    font-weight: 800;
    font-style: normal;
  } @else if ($variation == 'heavy italic') {
    font-weight: 800;
    font-style: italic;
  } @else if ($variation == 'black') {
    font-weight: 900;
    font-style: normal;
  } @else if ($variation == 'black italic') {
    font-weight: 900;
    font-style: italic;
  }
 }

@mixin font($font-family, $variation, $pt: '') {
  font-family: $font-family;

  @include font-variant($variation);
  
  @if ($pt != '' and type-of($pt) == 'number') {
    @if (unitless($pt) or unit($pt) == 'pt' or unit($pt) == 'px') {
      font-size: rem($pt);
    } @else {
      font-size: $pt;
    }
  }
}