$root-rem: 1; // Only set on initial build
$zoom: 1; // Instead of changing root rem after inital build, change zoom.

/**********
 * COLORS *
 **********/
$colors: (
  black: #000,
  darker-grey: #333,
  dark-grey: #4d4d4d,
  grey: #787878,
  light-grey: #acacac,
  lighter-grey: #cdcdcd,
  lightest-grey: #eee,
  white: #fff,
  light-blue: #3fa5f1,
  blue: #0156a2,
  dark-blue: #034a7a,
  darker-blue: #013560,
  gold: #ae936f,
  light-gold: #dcc3a9,
  dark-gold: #9b8264
);

$color-alpha: .6;

/***************
 * BREAKPOINTS *
 ***************/
$breakpoints: (
  xs: 30rem, // 480px assuming 16px rem
  sm: 40rem, // 640px assuming 16px rem
  md: 48rem, // 768px assuming 16px rem
  lg: 64rem, // 1024px assuming 16px rem
  xl: 85.375rem // 1366px assuming 16px rem
);

/**********
 * LAYOUT *
 **********/
$container-small-max: 75rem;
$container-max: 75rem;
$container-large-max: 93.75rem;
$container-padding: 1.25rem;
$gutter-half: 0.625rem;