.nav-wrapper {

  .logo-bars-container {
    background-color: color(white);
    padding: rem(20px);
    height: 6.5rem;

    .logo-wrapper {
      padding-left: 0;
      height: 100%;
      vertical-align: middle;

      img.logo {
        width: rem(200px);
        max-width: 100%;
        max-height: 100%;
      }
    } // .logo-wrapper

    .menu-bars-wrapper {
      padding-right: 0;
      vertical-align: middle;
      text-align: right;

      i.fa-bars {
        font-size: 2rem;
        cursor: pointer;
        color: color(darker-blue);
      }
    } // .menu-bars-wrapper
  } // logo-bars-container

  nav#page-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: color(blue);
    padding-left: 0;
    // width: 100%;
    margin: 0;
    height: 100%;
    z-index: 2;
    @include vendor(transform, translateX(-100%));

    &.mobile-activated {
      @include vendor(transition, transform .5s);

      &.open-mobile-nav {
        @include vendor(transform, translateX(0));
      }
    } // &.mobile-activated

    .menu-close-wrapper {
      padding: $container-padding;
      text-align: right;

      i.fa {
        cursor: pointer;
        font-size: 2rem;
      } // i.fa 
    } // .menu-close-wrapper

    .mobile-logo-wrapper {
      margin: 0 $container-padding 2rem;
      text-align: center;

      img.company-logo {
        max-width: 15rem;
      }
    } // .mobile-logo-wrapper

    ul#menu-primary-navigation {
      margin: 0;
      

      li.menu-item {
        text-align: center;
        letter-spacing: rem(1px);

        a {
          display: block;
          padding: 0.5rem $container-padding;
          color: color(white);
          margin: 0 auto;
          max-width: rem(340px);
          text-align: left;
        }

        ul.sub-menu {
          display: none;
          padding: $gutter-half 0;
          background-color: color(dark-blue);
        }

        &.menu-item-has-children {

          >a {

            &::after {
              @include borderArrow('down', white, 10px, 7px);
              margin-left: rem(10px);
              margin-bottom: rem(3px);
              @include vendor(transform, rotate(0deg));
              @include vendor(transition, transform 0.5s);
            }
          } // >a
        } // &.menu-item-has-children

        &.opened {

          >a {

            &::after {
              @include vendor(transform, rotate(-180deg));
            }
          } // >a
        } // &.opened

        &.current-menu-item {

          a {
            text-decoration: underline;
          }

          ul.sub-menu {

            li.menu-item {

              a {
                text-decoration: none;
              }
            } // li.menu-item 
          } // ul.sub-menu
        } // &.current-menu-item
      } // li.menu-item 

      >li.menu-item {
        font-size: 1rem;
        text-transform: uppercase;

        >a {
          line-height: 1.3;
        }

        >ul.sub-menu {

          >li.menu-item {
            font-size: 1rem;
            text-transform: none;
          }
        } // >ul.sub-menu 
      } // >li.menu-item 
    } // ul#menu-primary-navigation
  } // nav#page-nav
} // .nav-wrapper

@include breakpoint(md) {

  .nav-wrapper {
    position: absolute;
    top: rem(26px);
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;

    &.interior-nav {
      position: relative;
      top: 0;
    }

    .logo-bars-container {
      background-color: transparent;
      vertical-align: middle;
      padding-right: $gutter-half;

      .logo-wrapper {
        padding: 0;
      } // .logo-wrapper
    } // logo-bars-container

    nav#page-nav {
      position: static;
      transform: none;
      margin-left: -0.125rem;
      margin-right: -0.125rem;
      vertical-align: middle;
      height: auto;
      background-color: transparent;
      padding-left: $gutter-half;

      ul#menu-primary-navigation {
        text-align: right;

        li.menu-item {

          a {
            color: color(black);
            white-space: nowrap;
          }

          ul.sub-menu {
            padding-top: 0.5rem;

            li.menu-item {
              text-align: left;
              padding: 0 1.25rem;

              >a {
                display: block;
                padding-top: 0.5rem;
                padding-left: 0;
                padding-right: 1rem;
                color: color(white);
                border-bottom: rem(1px) solid color(white);
                font-weight: normal;
                text-transform: none;
                @include vendor(transition, unquote("padding-left 0.5s, padding-right 0.5s"));

                &:hover, &:focus {
                  padding-left: 1rem;
                  padding-right: 0;
                }
              }

              &:last-child {

                >a {
                  border-bottom: 0;
                }
              }
            } // li.menu-item 
          } // ul.sub-menu

          &.menu-item-has-children {

            >a {

              &::after {
                margin-left: rem(5px);
                margin-bottom: rem(2px);
                @include borderArrow('down', black, 8px, 4px);
              }
            } // >a
          } // &.menu-item-has-children

          &.current-menu-item {

            a {
              text-decoration: none;
            }
          } // &.current-menu-item
        } // li.menu-item 

        >li.menu-item {
          font-size: 0.7rem;
          text-transform: uppercase;
          display: inline-block;
          @include font-variant('medium');
          position: relative;

          &.current-menu-ancestor {

            >a {
              color: color(blue);
            }

            &.menu-item-has-children {

              >a {

                &::after {
                  border-top: rem(4px) solid color(blue);
                }
              }
            }
          }

          &.current-menu-item {

            >a {
              color: color(blue);
            }

            &.menu-item-has-children {

              >a {

                &::after {
                  border-top: rem(4px) solid color(blue);
                }
              }
            }
          }

          >a {
            padding: rem(5px);
          }

          >ul.sub-menu {
            position: absolute;

            >li.menu-item {
              font-size: 0.7rem;
            }
          } // >ul.sub-menu 
        } // >li.menu-item 
      } // ul#menu-primary-navigation
    } // nav#page-nav
  } // .nav-wrapper
} // @include breakpoint(md)