section.contact-form {

  .form-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; 
    padding: 0 $container-padding; 

    .wpcf7 {

      form.wpcf7-form {

        p {
          margin: 0;
        }

        label {
          width: 100%;
          display: inline-block;
          margin: 0.5rem 0;
          color: color(blue);
          text-transform: uppercase;
          @include font-variant('medium');
          font-size: 0.75rem;

          input, textarea {
            width: 100%;
            margin-top: 0.5rem;
            @include font($effra, 'normal', $base-font-size);
            padding: 0.5rem;
            border: rem(2px) solid color(lightest-grey);
            line-spacing: rem(1px);
            color: color(blue);

            &:focus {
              outline-color: color(light-blue);
            }
          } // input, textarea
        } // label

        input.wpcf7-submit {
          background-color: color(gold);
          color: color(white);
          @extend input[type=submit].button;
          @extend .button.small-button;
          cursor: pointer;

          &:hover, &:focus {
            background-color: color(dark-gold);
          }
        }
      } // form.wpcf7-form
    } // .wpcf7
  } // .form-container

  .map-container {

    #map {
      height: rem(242px);
    }
  } // .map-container
} // section.contact-form

@include breakpoint(xs) {

  section.contact-form {

    .form-container {

      .wpcf7 {

        form.wpcf7-form {

          p {
            &:nth-of-type(2) {
              display: inline-block;
              width: 50%;
              margin: 0 -0.1rem;
              padding-left: $gutter-half/2;
            }

            &:first-of-type {
              display: inline-block;
              width: 50%;
              margin: 0 -0.1rem;
              padding-right: $gutter-half/2;
            }
          } // p 
        } // form.wpcf7-form
      } // .wpcf7
    } // .form-container

    .map-container {

      #map {
        height: rem(242px);
      }
    } // .map-container
  } // section.contact-form
} // @include breakpoint(xs)

@include breakpoint(md) {

  section.contact-form {
    margin-top: 3rem;

    .form-container {
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: top;
      padding-left: 0;
      padding-right: $gutter-half*2;

      .wpcf7 {

        form.wpcf7-form {

          p {
            &:nth-of-type(2) {
              width: 100%;
              margin: 0;
              padding-left: 0;
            }

            &:first-of-type {
              width: 100%;
              margin: 0;
              padding-right: 0;
            }
          } // p 
        } // form.wpcf7-form
      } // .wpcf7
    } // .form-container

    .map-container {
      padding-left: $gutter-half*2;
      vertical-align: top;

      #map {
        height: 30rem;
      }
    } // .map-container
  } // section.contact-form
} // @include breakpoint(sm)

@include breakpoint(lg) {

  section.contact-form {

    .form-container {

      .wpcf7 {

        form.wpcf7-form {

          p {
            &:nth-of-type(2) {
              width: 50%;
              margin: 0 -0.1rem;
              padding-left: $gutter-half/2;
            }

            &:first-of-type {
              width: 50%;
              margin: 0 -0.1rem;
              padding-right: $gutter-half/2;
            }
          } // p 
        } // form.wpcf7-form
      } // .wpcf7
    } // .form-container

    .map-container {

      #map {
        height: 25rem;
      }
    } // .map-container
  } // section.contact-form
} // @include breakpoint(lg)