.current-page {
  width: 100%;
  display: table;
  height: rem(66px);

  .container {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2rem;
    letter-spacing: rem(2px);
    
    small {
        font-size: .8rem;
        a {
            color: #fff;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }
  }
} // .current-page

.interior-hero {

  .hero-image-wrapper {
    padding-top: 44%;
  }
}

@include breakpoint(sm) {

  .current-page, .interior-hero {

    &+ .module {
      margin-top: 4.5rem;

      .interior.locations & {
        margin-top: 1.5rem;
      }
    }
  }
}

@include breakpoint(md) {

  .interior-hero {

    .hero-image-wrapper {
      padding-top: rem(340px);
    }
  }
}

@include breakpoint(lg) {

  .current-page {
    display: block;
    height: auto;

    .container {
      display: block;
    }

    h1 {
      padding: 1.5rem 0;
    }
  } // .current-page
} // @include breakpoint(sm)