.faqs-module {

  dl.faqs-list {

    .faq-wrapper {
      margin-bottom: 1.25rem;

      dt {
        position: relative;
        background-color: color(darker-blue);
        color: color(white);
        padding: 0.5rem rem(30px) 0.5rem 1rem;
        cursor: pointer;

        &::after {
          @include borderArrow('down', white, 14px);
          position: absolute;
          right: 1rem;
          height: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          @include vendor(transform, rotate(0deg));
          @include vendor(transition, transform 0.5s);
        }

        &.opened {

          &::after {
            @include vendor(transform, rotate(-180deg));
          }
        }

      }

      dd.answer {
        margin: 0;

        p {

          &:first-child {
            margin-top: 0;
            padding-top: 0.8rem;
          }

          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0.8rem;
          }
        }
      }
    }
  } // dl.faqs-list
} // .faqs