.insurance-providers {
  margin-bottom: 1.75rem;

  label.providers-label {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border: rem(2px) solid color(lightest-grey);
    padding: 1.075rem 2rem;
    width: 100%;
    text-align: center;
    font-size: 0.825rem;
    cursor: pointer;
    background-color: color(white);

    .span-label-text {
      // vertical-align: middle;
    }

    .accordion-indicator {
      margin-left: rem(5px);
    }
  } // label

  .providers-list-wrapper {

    ul.providers-list {
      position: relative;
      top: rem(-4px);
      margin: 0;
      display: inline-block;
      padding: 0;
      border: rem(2px) solid color(lightest-grey);

      li {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 0.85rem;
        color: color(dark-grey);
      }
    } // ul.providers-list 
  } // .providers-list-wrapper
} // .insurance-providers

@include breakpoint(sm) {

  .insurance-providers {

    .providers-list-wrapper {

      ul.providers-list {
        display: block;
        border: 0;
        text-align: left;

        li {
          margin-top: 0;
          margin-bottom: 0;
          // border-right: rem(2px) solid color(lightest-grey);
          // border-bottom: rem(2px) solid color(lightest-grey);
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          text-align: center;

          &:nth-child(-n+2) {
            // border-top: rem(2px) solid color(lightest-grey);
          }

          &:first-child, &:nth-child(2n+1) {
            // border-left: rem(2px) solid color(lightest-grey);
          }
        }
      } // ul.providers-list 
    } // .providers-list-wrapper
  } // .insurance-providers
} // @include breakpoint(sm)

// @include breakpoint(md) {

//   .insurance-providers {

//     .providers-list-wrapper {

//       ul.providers-list {

//         li {

//           &:nth-child(-n+2) {
//             border-top: 0;
//           }

//           &:nth-child(2n+1) {
//             border-left: 0;
//           }

//           &:nth-child(-n+3) {
//             border-top: rem(2px) solid color(lightest-grey);
//           }

//           &:nth-child(3n+1) {
//             border-left: rem(2px) solid color(lightest-grey);
//           }
//         }
//       } // ul.providers-list 
//     } // .providers-list-wrapper
//   } // .insurance-providers
// } // @include breakpoint(md)