.location-finder-module {

  .panel-map {

    .location-finder {

      form {
        margin-bottom: 2rem;

        .choice {
          margin-bottom: rem(5px);

          &.bar-apply {
            position: relative;
            margin-top: 1.3rem;
            padding-top: 1.1rem;

            &::before {
              content: '';
              position: absolute;
              display: inline-block;
              top: 0;
              left: 0;
              width: rem(168px);
              border-top: rem(2px) solid color(gold);
            }
          }

          &.input-choice {
            margin-bottom: rem(5px);
          }

          &.select-choice {
            margin-bottom: 1.25rem;
          }

          h3 {
            font-size: 1.05rem;
            margin-bottom: rem(10px);
            color: color(darker-blue);
            @include font-variant('semibold');
          }

          .fake-input {
            padding: rem(6px) rem(8px) rem(8px);
            border: rem(2px) solid color(lightest-grey);

            label {
              font-size: 0.6em;
              text-transform: uppercase;
              font-weight: 500;
              display: block;
              letter-spacing: 0;
            }

            input, select {
              width: 100%;
              padding: 0;
              border: none;
              @include font($effra, 'regular', 1.1rem);
              color: color(blue);
              text-transform: uppercase;

              &:focus {
                outline: none;
              }
            } // input, select

            input {

              &[type="number"]::-webkit-inner-spin-button, &[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }

            select {
              @include vendor(appearance, none);
              background: url('../images/oarrow.png') no-repeat 98% 50% color(white);
              background-size: rem(6px) rem(4px);
            }
          } // .fake-input
        } // .choice
      } // form
    } // location-finder

    .map-wrapper {

      #loading-screen {
        position: relative;
        width: 100%;

        .loading-overlay {
          position: absolute;
          top: 0;
          left: 0;
          height: 25rem;
          width: 100%;
          background-color: hex-to-rgba(color(black), 0.4);
          z-index: 1;

          .loading-text {
            @include centerXY(12rem, 8.5rem);
            padding: 2rem;
            text-align: center;
            background-color: hex-to-rgba(color(white), 0.8);

            .fa-spin {
              font-size: 2rem;
            }

            .loading {
              margin-top: 1rem;
              font-size: 1.2rem;
            }
          }
        }
      }
      
      .listing {
          height: 35rem;
          overflow-y: scroll;
          vertical-align: top;
          
          #the-list {
              list-style-type: none;
              
              li {
                  list-style-type: none;
                  border-bottom: 1px dashed #000;
                  padding: 10px;
                  
                  &:hover {
                      cursor: pointer;
                      background-color: #f7f7f7;
                  }
                  
                  &.active {
                      background-color: #f7f7f7;
                  }
              }
          }
      }

      #map {
        height: 25rem;
      }
    }
  } // .panel-map
} // .location-finder-module

@include breakpoint(sm) {

  .location-finder-module {

    .panel-map {

      .location-finder {

        form {

          .choice {

            &.bar-apply {
              margin-top: 0.05rem;
            }
          } // .choice
        } // form
      } // location-finder

      .map-wrapper {

        #loading-screen {

          .loading-overlay {
            height: 30rem;
          }
        }

        #map {
          height: 30rem;
        }
      }
    } // .panel-map
  } // .location-finder-module
} // @include breakpoint(sm)

@include breakpoint(md) {

  .location-finder-module {

    .toggler-wrapper {
      margin-bottom: rem(20px);

      ul.toggler {
        display: inline-block;
        margin: 0;
        border: rem(1px) solid color(gold);
        border-radius: rem(3px);

        li {
          display: inline-block;
          padding: rem(15px) 0;
          color: color(gold);
          cursor: pointer;
          vertical-align: middle;
          width: 7.5rem;

          &.active {
            background-color: color(gold);
            color: color(white);
          }
        }
      }
    }

    .panel-map {
      margin-top: 2rem;
      margin-bottom: 2.25rem;
    } // .panel-map

    .panel-list {
      margin-bottom: 2.25rem;

      h2 {
        font-size: 2rem;
        color: color(darker-blue);
      }

      .locations-container {

        .location-entry-wrapper {
          vertical-align: top;

          .location-entry {
            margin: rem(10px) 0;
            border: rem(1px) solid color(lightest-grey);
            padding: rem(10px) 0.625rem;
            cursor: pointer;
            color: color(black);

            &:hover, &:focus {
              border-color: color(blue);
            }

            .location-title {
              display: inline-block;
              color: color(blue);
              font-size: 1rem;
              margin-bottom: 0.2rem;
            }
          }
        } // .location-entry-wrapper
      } // .locations-container 
    } // .panel-list
  } // .location-finder-module
} // @include breakpoint(md)

@include breakpoint(lg) {

  .location-finder-module {


    .panel-map {
      margin-bottom: 2.25rem;

      .location-finder {

        form {
          margin-bottom: 3rem;

          .choice {
            padding-bottom: 1rem;


            &.bar-apply {
              padding-top: rem(5px);

              &::before {
                left: -17.5%;
                width: 0;
                height: 100%;
                border-top: 0;
                border-left: rem(2px) solid color(gold);
              }
            }
          } // .choice

          .button-wrapper {
            text-align: left;
          }
        } // form
      } // location-finder

      .map-wrapper {

        #loading-screen {

          .loading-overlay {
            height: 35rem;
          }
        }

        #map {
          height: 35rem;
        }
      }
    } // .panel-map

    .panel-list {
      margin-bottom: 2.25rem;

      h2 {
        font-size: 2rem;
        color: color(darker-blue);
      }
    } // .panel-list
  } // .location-finder-module
} // @include breakpoint(lg)