.logo-grid {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

  .logo-wrapper {
    vertical-align: middle;
    padding-top: 1rem;
    padding-bottom: 1rem;

    img.lg-logo {
      width: 100%;
      max-width: rem(210px);
    }
  } // .logo-wrapper
} // .logo-grid 

@include breakpoint(lg) {

  .logo-grid {

    .logo-wrapper {

      img.lg-logo {
        max-width: rem(250px);
      }
    } // .logo-wrapper
  } // .logo-grid 
} // @include breakpoints(lg)

@include breakpoint(xl) {

  .logo-grid {

    .logo-wrapper {

      img.lg-logo {
        max-width: rem(300px);
      }
    } // .logo-wrapper
  } // .logo-grid 
} // @include breakpoints(xl)