.services-list-module {
  
  ul.services-list {
    margin: 0;

    div {
      vertical-align: top;
    }

    .col-sm-6 {
      margin-top: 0.5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    li.list-item {
      border: rem(1px) solid color(lighter-grey);
      margin: 0 0 0.5rem;
      // cursor: pointer;

      a {
        display: block;
        padding: 0.5rem;
      }

      &:hover, &:focus {
        background-color: color(blue);
        border-color: color(blue);

        a {
          color: color(white);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    } // li.list-item
  } // ul.services-list
} // .services-list-module

@include breakpoint(sm) {

  .services-list-module {
  
    ul.services-list {

      .col-sm-6 {
        margin-top: 0;
      }
    } // ul.services-list
  } // .services-list-module  
} // @include breakpoint(sm)

@include breakpoint(md) {

  .services-list-module {
  
    ul.services-list {

      li.list-item {
        font-size: 1rem;
      }
    } // ul.services-list
  } // .services-list-module  
} // @include breakpoint(md)