.button {
  @include vendor(transition, background-color 0.3s);

  &.large-button {
    display: block;
    width: 100%;
    padding: 1.325rem 1rem;
    font-size: 1.2rem;
    letter-spacing: rem(3px);
  }

  &:hover, &:focus {
    color: color(white);
  }

  &.small-button {
    display: inline-block;
    padding: 0.4rem 1.75rem 0.25rem;
    border-radius: rem(3px);
    font-size: 0.75rem;
    letter-spacing: rem(2px);
  }

  &.background-gold {

    &:hover, &:focus {
      background-color: color(dark-gold);
    }
  }
} // .button

input[type=submit].button {
  @include vendor(transition, background-color 0.3s);
  border: 0;
}

@include breakpoint(md) {

  .button {

    &.large-button {
      display: inline-block;
      width: auto;
      padding: 0.5rem 2.5rem;
      font-size: 1.2rem;
      border-radius: rem(3px);
    }
  } // .button
} // @include breakpoint(md)