.container {
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  max-width: $container-max;

  &.small-max {
    max-width: $container-small-max;
  }

  &.large-max {
    max-width: $container-large-max;
  }
} // .container

@each $bp, $size in $breakpoints {

  @include breakpoint($bp) {
    
    .container-#{$bp} {
      margin: 0 auto;
      padding-left: $container-padding;
      padding-right: $container-padding;
      max-width: $container-max;

      &.small-max {
        max-width: $container-small-max;
      }

      &.large-max {
        max-width: $container-large-max;
      }
    } // .container-#{$bp}
  } // @include breakpoint($bp)
} // @each $bp, $size in $breakpoints 

/*************************************
 * CREATE COLUMNS, ROWS, AND OFFSETS *
 *************************************/

@for $i from 1 through 12 {

  .col-#{$i} {
    @include col-create($i);
  }
} // @for

@for $i from 1 through 12 {

  .row-#{$i} {
    @include row-padding($i);
  }
} // @for

@each $bp, $size in $breakpoints {

  @include breakpoint($bp) {

    @for $i from 1 through 12 {
      
      .col-#{$bp}-#{$i} {
        @include col-create($i);
      }     
    } // @for

    @for $i from 1 through 12 {

      .row-#{$bp}-#{$i} {
        @include row-padding($i);
      }      
    } // @for
  } // @include breakpoint($bp)
} // @each

@for $i from 1 through 12 {
  .col-offset-#{$i} {
    @include col-offset($i);
  }
} // @for

@each $bp, $size in $breakpoints {

  @include breakpoint($bp) {

    @for $i from 0 through 12 {

      .col-#{$bp}-offset-#{$i} {
        @include col-offset($i);
      }
    } // @for
  } // @include breakpoint($bp)
} // @each