.small-blue-title {
  color: color(darker-blue);
  font-size: 1rem;
  @include font-variant('semibold');
}

.small-light-blue-title {
  color: color(blue);
  font-size: 1rem;
  @include font-variant('semibold');
}