.media-cover-wrapper {
  position: relative;
  overflow: hidden;

  .media-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    @include vendor(transform, translate(-50%, -50%));
  }
} // .media-cover-wrapper

/****************
 * FLUID IFRAME *
 ****************/

.video-wrapper {
  position: relative;
  padding-bottom: 48%;
  padding-top: 1.6rem;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
} // .video-wrapper

img.alignright {
  float: right;
  padding: 1em;
}

img.size-full {
  max-width: 100%;
  height: auto;
}
