/***********
 * GENERAL *
 ***********/
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
} // .clearfix

/**********
 * COLORS *
 **********/

@each $color, $hex in $colors {
  .color-#{$color} { 
    color: $hex;
  }

  .color-#{$color}-tran {
    color: hex-to-rgba($hex, $color-alpha);
  }

  .background-#{$color} { 
    background-color: $hex;
  }

  .background-#{$color}-tran {
    background-color: hex-to-rgba($hex, $color-alpha);
  }
}

/***********
 * DISPLAY *
 ***********/

.hide {
  display: none;
}

.show-block {
  display: block;
}

.show-inline {
  display: inline;
}

.show-inline-block {
  display: inline-block;
}

.show-table {
  display: table;
}

.show-table-cell {
  display: table-cell;
}

@each $bp, $size in $breakpoints {

  @include breakpoint($bp) {
    
    .hide-#{$bp} {
      display: none;
    }

    .show-block-#{$bp} {
      display: block;
    }

    .show-inline-#{$bp} {
      display: inline;
    }

    .show-inline-block-#{$bp} {
      display: inline-block;
    }

    .show-table-#{$bp} {
      display: table;
    }

    .show-table-cell-#{$bp} {
      display: table-cell;
    }
  }
}

/*************
 * ALIGNMENT *
 *************/

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.justify-text {
  text-align: justify;
}

/*********
 * OTHER *
 *********/

.module {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.cms-wysiwyg {

  a {
    color: color(light-blue);
    @include font-variant('italic');
  }

  h2 {
    @extend .small-blue-title;
  }

  h3 {
    @extend .small-light-blue-title;
  }

  hr {
    border: rem(1px) solid color(lighter-grey);
  }
}