#wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

#search-form {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: inherit;
    border-bottom: 1px solid #787878;

    .search-wrap:after {
        clear: both;
    }

    input, button {
        border: none;

        background-color: inherit;
    }

    input {
        width: 70%;
        margin-left: 1%;
        display: inline-block;

        @include placeholder() {
            font-family: $body-font;
        }

        font-family: $body-font;
    }

    input:focus {
        outline: none;
    }

    button {
        width: 18%;
        float: right;
        bottom: 2px;
        color: #0156a2;
    }
}

#site-menu {
    width: 24rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: -24rem;
    background: #0156A2;
    padding: 15px;
    color: #fff;

    h2 {
        color: #fff;
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: 15px;
            font-size: 1.2rem;
            padding: 5px;
        }
    }

    a, a:visited, a:hover, a:active {
        color: #fff;
    }

    a:hover {
        text-decoration: underline;
    }

    .trigger-mobile-menu {
        float: right;
    }
}

#wrapper.show-nav #canvas {
    -webkit-transform: translateX(24rem);
    transform: translateX(24rem);
}

ul.breadcrumbs {
    list-style-type: none;
    margin: 1.5rem auto;
    // padding: 0;

    li {
        display: inline-block;
        padding: 0;
        margin: 0;
        @include font-variant('italic');

        a {
          color: color(black);
          font-size: 0.75rem;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    li:after {
        content: "//";
        padding: 0 0 0 rem(3px);
    }

    li:last-child:after {
        content: "";
        padding: 0;
    }
}

.single-testimonial, .banner-content-container {
  background: #0156a2;
  padding: 20px;
  color: #fff;
  border-radius: 2px;
}

.picture-content .col-md-6, .four-column .col-md-3 {
  vertical-align: top;
}

.picture-content img {
  max-width: 100%;
    height: auto;
}
