.wrapper-home-page {
    background-image: url('../../assets/images/homepage-1.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 550px;
}

.page-home-page {
    .committed {
        background-color: rgba(255,255,255,0.6);
        color: #000;
        margin: 0 auto;
        margin-top: 50px;
        padding: 10px;
        width: 80%;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7em;
        letter-spacing: 2px;
    }
    
    a.find-a-location {
        color: #fff;
        text-align: center;
        background-color: #AE936F;
        padding: 20px;
        display: block;
        margin-top: 50px;
        font-size: 1.1em;
        letter-spacing: 2px;
        font-family: "myriad-pro", sans-serif;
    }
    
    a.find-a-location:hover {
        background-color: #c0ab90;
        text-decoration: none;
    }
    
    .intro-text {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
        background-color: #0156A2;
    }
    
    .services-list {
        background-color: #0156A2;
        padding: 30px;
        
        .container {
            padding-left: 0;
        }
        
        .row-md-2 {
            padding-bottom: 10px;
        }
        
        h3 {
            color: #fff;
            font-size: 1.2em;
            letter-spacing: 2px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
        }
        
        a {
            color: #fff;
            letter-spacing: 1px;
            font-size: .9rem;
        }
    }
    
    .site-areas {
        margin-top: 20px;
        margin-bottom: 40px;
        .area {
            text-align: center;
            padding-top: 20px;
            
            img {
                text-align: center;
                height: 160px;
            }
        }
    }
    
    .last-callouts {        
        .faqs {
            background-image: url('../../assets/images/faqs.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #fff;
        }
        
        .employment {
            background-image: url('../../assets/images/employment.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #fff;
        }
        
        a {
            display: block;
            background-color: #DCC3A9;
            color: #fff;
            margin: 30px;
            padding: 15px;
            font-size: 1.5em;
        }
    }
}

@include breakpoint(md) { 
    .page-home-page {
        .committed {
            margin-top: 150px;
            width: 25%;
            padding: 20px;
        }
    }
    
    .main-callout {
        margin-top: 100px;
        background-color: #0156A2;
    }
    
    .find-a-location {
        padding: 10px;
        width: 20%;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    .services-list {
        h3 {
            text-align: left !important;
        }
    }
    
    .last-callouts {
        margin-bottom: 50px;
        
        .faqs {
            background-image: url('../../assets/images/faqs.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #fff;
        }
        
        .employment {
            background-image: url('../../assets/images/employment.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #fff;
        }
        
        a {
            display: block;
            background-color: #DCC3A9;
            color: #fff;
            margin: 50px;
            padding: 50px;
            font-size: 1.5em;
        }
    }
}