/**

GENERAL PURPOSE

**/

.accordions {
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .accordion {
        .body {
            ul {
                list-style-type: none;
                margin: 0;

                li {
                    padding: 0;
                    margin: 0;
                }
            }

            &.open {
                padding-top: 10px;
            }
        }

    }
}