.page-location {
    h3.oh-header {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    ul.office-hours {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 0 5px 0;
            padding:0;
        }
    }
}

.locations {
    ul.toggler {
        border: 1px solid #AE936F;
        margin: 0 0 20px 0;
        padding: 0;
        list-style-type: none;
        width: 30%;

        li {
            padding: 15px 0 15px 0;
            margin: 0;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            color: #AE936F;
            width: 50%;
            cursor: pointer;

            &.active {
                background-color: #AE936F;
                color: #fff;
            }
        }
    }

    h3 {
        margin-bottom: 10px;
        color: #013560;
        font-size: 1.1em;
    }

    .search-button {
        margin-top: 30px;
        text-align: center;
        padding: 10px;
        width: 15rem;
        font-size: rem(19);
        letter-spacing: 2px;
        margin-bottom: 20px;
        background-color: #AE936F;
        color: #fff;
    }

    .panel-map {
        .fake-input {
            padding: 10px;
            border: 2px solid #E1E1E1;
            width: 80%;

            label {
                font-size: .9em;
                text-transform: uppercase;
                margin-top: 5px;
                display: block;
            }

            input, select {
                border: none;
                padding: 0;
                width: 90%;
            }

            input:focus {
                outline: 0;
            }

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url('../../assets/images/oarrow.png') no-repeat 97% 50% #ffffff;
                background-size: 12px 6px;
            }
        }
    }
}

.location-entry {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #efefef;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: .625rem !important;
}