.other-providers {
    margin-top: 25px;
    border: 1px solid #EEEEEE;
    .col-md-4 {
        color: #4D4D4D;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
}

.wrapper-patient-center {
    .body-copy-1 {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .body-copy-2 {
        margin-bottom: 30px;
    }
}

@include breakpoint(md) {
    .other-providers {
        .col-md-4 {
            border: 1px solid #EEEEEE;
            text-align: center;
        }
    }
    
    .wrapper-patient-center {
        .body-copy-1 {
            margin-top: 30px;
            margin-bottom: 100px;
        }
        
        .body-copy-2 {
            margin-bottom: 80px;
        }
    }
}