footer.footer {
  background-color: color(blue);
  color: color(white);
  font-size: 0.65rem;

  .footer-main {
    padding-top: rem(25px);
    padding-bottom: rem(25px);

    .logo-area {
      text-align: center;
      margin-bottom: rem(12px);

      a {

        img.logo {
          max-width: rem(165px);
        }
      } // a
    } // .logo-area

    .footer-nav-wrapper {
      text-align: center;

      ul.footer-nav {
        margin: 0;
        display: inline-block;
        padding-bottom: $container-padding;
        border-bottom: rem(2px) solid color(white);
        text-align: center;

        li {
          padding: rem(1px) rem(10px);

          a {
            color: color(white);
          }
        } // li 
      } // ul.footer-nav
    } // .footer-nav-wrapper

    .services {
      text-align: center;
      padding-top: rem(10px);

      ul.services-list {

        li.list-item {
          padding: rem(1px) 0;

          a {
            color: color(white);
          }
        } // li.list-item
      } // ul.services-list
    } // .services

    .meta-info {
      margin-top: 2.5rem;
      text-align: center;

      p {
        margin: 0;
        padding: rem(1px) 0;
      }
    } // .meta-info
  } // .footer-main

  .legal-area {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .terms-link-wrapper {
      text-align: center;

      a.terms-link {

        &:hover, &:focus {
          text-decoration: underline;
          color: color(white);
        }
      }
    } // .terms-link-wrapper
  } // .legal-area
} // footer.footer

@include breakpoint(sm) {

  footer.footer {

    .footer-main {

      .footer-nav-wrapper {
        border-right: rem(2px) solid color(white);

        ul.footer-nav {
          width: 100%;
          padding-bottom: 0;
          border-bottom: 0;
        } // ul.footer-nav
      } // .footer-nav-wrapper
    } // .footer-main
  } // footer.footer
} // @include breakpoint(sm)

@include breakpoint(lg) {

  footer.footer {

    .footer-main {

      .logo-area {
        vertical-align: top;
        text-align: left;
      }

      .services {
        vertical-align: top;
        text-align: left;
        padding: 0 $container-padding 0 $container-padding*2;

        ul.services-list {
          margin: 0;
        }
      }

      .meta-info {
        margin-top: 1rem;
        text-align: left;
        padding-left: $gutter-half;
      }

      .footer-nav-wrapper {
        vertical-align: top;
        // border-right: rem(2px) solid color(white);
        text-align: left;

        ul.footer-nav {
          text-align: left;
        } // ul.footer-nav
      } // .footer-nav-wrapper
    } // .footer-main
  } // footer.footer
} // @include breakpoint(sm)