.page-home-page {

  .main-callout {

    .intro-text-container {
      background: url('../images/bluehero.png') no-repeat center center / cover;

      .intro-text {
        padding: 1.5rem $container-padding;
        color: color(white);
      }
    } // .intro-text-container

    .services-list-container {
      background-color: color(blue);

      .services-list-wrapper {
        padding: rem(25px) $container-padding;

        h2 {
          color: color(white);
          font-size: 1.25rem;
          letter-spacing: rem(2px);
          text-transform: uppercase;
          text-align: center;
          margin-bottom: rem(20px);
          font-weight: normal;
        }

        ul.services-list {

          li.list-item {
            padding-bottom: rem(12px);

            a {
              color: color(white);
            }
          } // li.list-item
        } // ul.services-list
      } // .services-list-wrapper
    } // .services-list-container
  } // .main-callout

  .site-areas {
    margin-top: rem(20px);
    margin-bottom: rem(20px);

    .area {
      text-align: center;
      margin-top: 1.75rem;
      margin-bottom: 1.75rem;

      a {

        .image-container {
          text-align: center;

          img {
            height: rem(85px);
          }
        } // .image-container

        .area-title {
          display: inline-block;
          margin: 1.25rem 0;
          font-size: 1.05rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      } // a
    } // .area
  } // .site-areas

  .last-callouts {

    .last-callout-wrapper {
      margin: $container-padding 0;
      box-sizing: content-box;
      position: relative;
      padding: 1.75rem 2rem;
      text-align: center;

      &.faqs {
        background: url('../images/faqs.jpg') no-repeat center center / cover;
      }

      &.employment {
        background: url('../images/employment.jpg') no-repeat center center / cover;
      }

      a {
        width: 100%;
        display: inline-block;
        background-color: color(gold);
        padding: 0.7rem;
        color: color(white);
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: rem(2px);
      }
    }
  }
} // .page-home-page

@include breakpoint(sm) {

  .page-home-page {

    .main-callout {
      background: url('../images/bluehero.png') no-repeat center center / cover;

      .intro-text-container {
        vertical-align: middle;
        background: transparent;
        margin-top: rem(25px);
        margin-bottom: rem(25px);

        .intro-text {
          padding: 0 $container-padding;
        }
      } // .intro-text-container

      .services-list-container {
        vertical-align: middle;
        background-color: transparent;
        border-left: rem(2px) solid color(white);
        margin-top: rem(25px);
        margin-bottom: rem(25px);

        .services-list-wrapper {
          padding: 0 $container-padding;

          h2 {
            text-align: left;
          }
        } // .services-list-wrapper
      } // .services-list-container
    } // .main-callout

    .last-callouts {

      .last-callout-wrapper {

        a {
          font-size: 1.6rem;
          padding: 2rem;
        }
      } // .last-callout-wrapper
    } // .last-callouts
  } // .page-home-page
} // @include breakpoint(sm)

@include breakpoint(md) {

  .page-home-page {

    .last-callouts {
      padding: 0;

      .last-callout-wrapper {

        a {
          // font-size: 1.6rem;
          // padding: 2rem;
        }
      } // .last-callout-wrapper
    } // .last-callouts
  } // .page-home-page
} // @include breakpoint(md)

@include breakpoint(lg) {

  .page-home-page {

    .main-callout {

      .services-list-container {

        .services-list-wrapper {

          ul.services-list {

            li.list-item {
              vertical-align: top;
            } // li.list-item
          } // ul.services-list
        } // .services-list-wrapper
      } // .services-list-container
    } // .main-callout

    .last-callouts {

      .last-callout-wrapper {

        a {
          font-size: 1.8rem;
          padding: 2.6rem;
        }
      } // .last-callout-wrapper
    } // .last-callouts
  } // .page-home-page
} // @include breakpoint(lg)
