header#page-header {

  .slides-container {
    position: relative;

    ul.slick-dots {
      padding: 0;
      margin: 0;
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      @include vendor(transform, translateX(-50%));
      list-style: none;

      li {
        display: inline-block;

        i.fa {
          display: block;
          cursor: pointer;
          margin: 0.125rem;
          color: color(blue);

          &.active-dot {
            display: none;
          }
        }

        &.slick-active {

          i.fa {
            display: none;

            &.active-dot {
              display: block;
            }
          }
        }
      }
    }
  }

  .topbar {
    background-color: color(lightest-grey);
    color: color(darker-grey);

    .phone-number {
      padding: 0.3rem 0 0.4rem;
      display: block;
      text-align: center;
      font-size: 0.7rem;
      font-weight: 500;
      letter-spacing: rem(1px);

      .separator {
        margin: 0 0.4rem;
      }
    } // .phone-number

    a.employee-login, a.paybill {
      display: block;
      background-color: color(blue);
      padding: 0.3rem 0 0.4rem;
      color: color(white);
      text-align: center;
      font-size: 0.8rem;
      letter-spacing: rem(1px);

      &:hover, &:focus {
        background-color: color(dark-blue);
      }
    }

    a.employee-login {
      border-bottom: rem(2px) solid color(white);
    }
  } // .topbar

  .header-bottom {
    position: relative;

    .hero {
      position: relative;

      .hero-image-wrapper {
        height: 0;
        padding-top: 56%;
      }

      .hero-copy {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: hex-to-rgba(color(white), $color-alpha);
        @include vendor(transform, translateY(-50%))
        padding: rem(5px) 20%;
        font-weight: bold;
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: rem(2px);

        &.hero-logo {
          display: none;
        }

        p {
          margin: 0;
        }
      } // .hero-copy
    } // .hero
  } // .header-bottom
} // header#page-header

@include breakpoint(xs) {

  header#page-header {

    .header-bottom {

      .hero {

        .hero-image-wrapper {
          padding-top: 50%;
        }

        .hero-copy {
          font-size: 1.75rem;
          padding-right: 25%;
          padding-left: 25%;
        }
      } // .hero
    } // .header-bottom
  } // header#page-header
} // @include breakpoint(xs)

@include breakpoint(sm) {

  header#page-header {

    .topbar {

      .phone-number {
        display: inline-block;
        text-align: left;
      }

      a.employee-login, a.paybill {
        display: inline-block;
      }

      a.employee-login {
        border-bottom: 0;
        border-right: rem(2px) solid color(white);
      }
    }

    .header-bottom {

      .hero {

        .hero-image-wrapper {
          padding-top: 45%;
        }

        .hero-copy {
          padding: rem(10px);

          &.hero-logo {
            display: block;
            padding: 2rem 5rem;
          }

          p {
            display: inline-block;
            width: rem(350px);
          }
        }
      } // .hero
    } // .header-bottom
  } // header#page-header
} // @include breakpoint(sm)

@include breakpoint(md) {

  header#page-header {

    .header-bottom {

      .hero {
        padding-top: 0;

        .hero-image-wrapper {
          padding-top: 40%;
        }

        .hero-copy {
          width: rem(375px);
          margin: auto;
          left: 0;
          right: 0;
          // left: 50%;
          // @include vendor(transform, translate(-50%, -50%));

          &.hero-logo {
            width: 55%;
            padding: 2rem;
            @include vendor(transform, translateY(-32%));
          }
        }
      } // .hero

      .hero-cta {
        position: absolute;
        bottom: 15%;
        left: 0;
        right: 0;
        margin: auto;
        // @include vendor(transform, translateX(-50%));
      }
    } // .header-bottom
  } // header#page-header
} // @include breakpoint(md)

@include breakpoint(lg) {

  header#page-header {

    .header-bottom {

      .hero {

        .hero-image-wrapper {
          padding-top: 35%;
        }

        .hero-copy {

          &.hero-logo {
            width: 56%;
            @include vendor(transform, translateY(-38%));
          }
        }
      } // .hero

      .hero-cta {
        bottom: 20%;
      }
    } // .header-bottom
  } // header#page-header
} // @include breakpoint(md)

@include breakpoint(xl) {

  header#page-header {

    .header-bottom {

      .hero {

        .hero-image-wrapper {
          padding-top: rem(450px);
        }

        .hero-copy {

          &.hero-logo {
            width: 60%;
            max-width: rem(820px);
            @include vendor(transform, translateY(-40%));
          }
        }
      } // .hero

      .hero-cta {
        bottom: 22%;
      }
    } // .header-bottom
  } // header#page-header
} // @include breakpoint(xl)
