.page-service {

  aside.all-services {

    label {
      display: block;
      padding: rem(6px) 0;
      font-size: 0.7rem;
      text-align: center;
      cursor: pointer;

      &:hover, &:focus {
        background-color: color(dark-blue);
      }

      &::after {
        content: '';
        display: inline-block;
        margin-left: rem(5px);
        margin-bottom: rem(2px);
        border: rem(4px) solid transparent;
        border-bottom: 0;
        border-top: rem(4px) solid color(white);
        @include vendor(transform, rotate(0deg));
        @include vendor(transition, transform 0.5s);
      }

      &.opened {

        &::after {
          @include vendor(transform, rotate(-180deg));
        }
      } // &.opened
    } // label 

    .services-wrapper {
      padding: 0 $container-padding;

      ul.services-list {
        margin-top: 1rem;

        li.list-item {
          font-size: 0.83rem;
          @include font-variant('medium');
          line-height: 2;

          a {
            color: color(black);
          }

          &.current-service {

            a {
              color: color(gold);
            }
          } // &.current-service
        } // li.list-item
      } // ul.services-list
    } // .services-wrapper
  } // aside.all-services

  article.service {

    .hero {
      margin: 1.5rem 0;

      .hero-image-wrapper {
        padding-top: 44%;
      }
    } // .hero

    .service-body {
      margin: 1.5rem 0;
      padding: 0 $container-padding;

      &.no-hero {
        margin-top: 1rem;
      }

      ul {
        padding-left: 1rem;
      }
    }
  } // article.service
} // .page-service

@include breakpoint(sm) {
  .page-service {
    // margin-top: 50px;

    aside.all-services {
      vertical-align: top;
      
      label {
        display: none;
      }

      .services-wrapper {
        padding: 0;
      }
    } // aside.all-services

    article.service {
      vertical-align: top;

      .service-body {
        padding: 0;
      }
    }
  } // .page-service
} // @include breakpoint(sm)

@include breakpoint(md) {

  .page-service {

    article.service {

      .hero {
        margin-bottom: 2rem;
      }
    } // article.service
  } // .page-service
} // @include breakpoint(md)

@include breakpoint(lg) {

  .page-service {

    article.service {

      .hero {
        margin-bottom: 2.5rem;
      }
    } // article.service
  } // .page-service
} // @include breakpoint(lg)

@include breakpoint(xl) {

  .page-service {

    article.service {

      .hero {
        margin-bottom: 3rem;

        .hero-image-wrapper {
          padding-top: 33%;
        }
      } // .hero
    } // article.service
  } // .page-service
} // @include breakpoint(xl)