.page-location {

  section.general-info {
    margin-top: 1.5rem;

    .copy-container {
      vertical-align: top;

      .copy-section {
        vertical-align: top;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        .copy-section-title {
          margin-bottom: 0.5rem;
        }

        &.address-container {

          .address {

            p {
              margin: 0;
              line-height: 1.6;
            }
          } // .address
        } // &.address-container

        &.hours-container {

          ul.office-hours {
            margin: 0;

            li {
              line-height: 1.6;
            }
          } // ul.office-hours
        } // &.hours-container

        &.services-container {

          ul.services-offered {
            margin: 0;
            padding-left: 1rem;

            li {
              line-height: 1.6;
            }
          }
        } // &.services-container

        &.therapists-container {

          .therapist {

            .therapist-title {
              margin-bottom: 0.5rem;
            }

            .therapist-info {

              p {
                margin: 0;
                line-height: 1.6;
              }
            } // .therapist-info
          } // .therapist
        } // &.therapists-container
      } // .copy-section
    } // .copy-container

    .map-container {
      vertical-align: top;

      #map {
        height: rem(242px);
      }
    } // .map-container
  } // section.general-info
} // .page-location

@include breakpoint(sm) {

  .page-location {

    section.general-info {

      .map-container {

        #map {
          height: rem(320px);
        }
      } // .map-container
    } // section.general-info
  } // .page-location
} // @include breakpoint(sm)